.container h2 {
  text-align: center;
}
.container {
  margin-top: 0.5rem;
  background-color: #f8f9fa;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  width: 300px;
  height: 380px;
  margin: 0.5rem;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.card-body {
  padding: 1.25rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.card-text {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
}
.card a {
  text-decoration: none;
  color: #007bff;
  padding: 10px;
  background-color: pink;
  border-radius: 5px;
  margin: 1rem;
}
.card a:hover {
  background-color: #007bff;
  color: white;
}
