<div class="container">
    <h2> Available Tours</h2>
    <div class="row">
        <div class="col-tours" *ngFor="let tour of tours">
            <div class="card">
                <img [src]="tour.images" class="card-img-top" alt="Tour Image">
                <div class="card-body">
                    <h5 class="card-title">{{ tour.name }}</h5>
                    <p class="card-text">
                        <strong>Price:</strong> ${{ tour.price }}
                        <br>
                        <strong>Location:</strong> {{ tour.location }}
                    </p>
                </div>
                <a routerLink="tours/{{tour.id}}">View More <i style="margin: 2px;" class="pi pi-external-link"></i></a>
            </div>
        </div>
    </div>