<div class="container">
    <header>
        <nav>
            <div class="logo">Xplora Tours</div>
            <ul>
                <li><a href="landing_page.html">Home</a></li>
                <li><a href="#what_we_offer">What We Offer</a></li>
            </ul>
            <div class="login">
                <a routerLink="/login">Login</a>
            </div>
        </nav>
    </header>
    <section class="hero">
        <div class="hero-content">
            <h1>Welcome adventurer <span>want to join us</span></h1>
            <p>Our Tours and Travel agency offers. Tailored Travel Experiences, Group Coordination and Communication,
                Adventure Tracking and Exploration, Reliable and Secure Travel Solutions.
            </p>
            <a routerLink="/login" class="quote-btn">Join Us</a>
        </div>
    </section>
    <div class="what_we_offer" id="what_we_offer">
        <h2>
            What We <span>Offer</span>
        </h2>
    </div>

    <section class="headings">
        <div class="card">
            <h3>
                <a class="icon"><i class="pi pi-car"></i></a> <br>
                Tailored Travel Experiences
            </h3>
            <p>
                Explore customized travel itineraries that cater to your preferences.
        </div>

        <div class="card">
            <h3>
                <a class="icon"><i class="pi
pi-users"></i></a> <br>
                Group Coordination and Communication
            </h3>
            <p>
                Facilitate smooth communication and coordination among group members, regardless of their locations.
            </p>
        </div>

        <div class="card">
            <h3>
                <a class="icon"><i class="pi pi-map-marker"></i></a> <br>
                Adventure Tracking and Exploration
            </h3>
            <p>
                Keep track of your travel adventures with our comprehensive tracking features.
            </p>
        </div>

        <div class="card">
            <h3>
                <a class="icon"><i class="pi pi-address-book"></i></a> <br>
                Reliable and Secure Travel Solutions
            </h3>
            <p>
                Our travel management platform ensures reliability and security for all your travel needs.
            </p>
        </div>
    </section>

    <footer>
        <p>&copy; 2023 TaskTrack Website</p>
    </footer>
</div>